.form-grouphead {
    margin: 0 0 24px;
}
.form-grouphead h2 {
    font-size: 16px;
    font-weight: 700;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    color: #0D233E;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 400;

}
.form-group label span.mandatory {
    color: #FC1313;
    margin-left: 5px;
}
.form-group label span {
    color: #B7B7B7;
    font-size: 13px;
    margin-left: 0;
    font-weight: 400;
}
.form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 35px;
}
.form-groupbtn ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .form-groupbtn ul li {
    margin-right: 12px;
  }
  .form-groupbtn .btn {
    min-width: 104px;
    padding: 7px 15px;
    font-size: 16px;
  }
  .login-input .form-group label {
    color: #0D233E;
    font-size: 16px;
  }
  .form-groupheads {
    margin-bottom: 25px;
  }
  .form-groupheads h2 {
    font-size: 18px;
    font-weight: 500;
    color: #0D233E;
  }
  .form-groupheads h3 {
    font-size: 14px;
    font-weight: 500;
    color: #666666;
  }
  .form-group-set {
    margin-bottom: 25px;
  }
  .form-group-set h4 {
    font-size: 14px;
    font-weight: 600;
  }
  .form-group-set h4 span {
    color: #A1A1A1;
    font-size: 11px;
    font-weight: 400;
    margin-left: 5px;
  }
  .form-group-set h5 {
    font-size: 13px;
    font-weight: 400;
    color: #164370;
    margin: 0;
  }
  .form-group .group-image .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 35px;
  }
  .form-group .select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 15px;
  }
  .form-group .contentpage {
    background: #F1F1F1;
    padding: 11px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    color: #ffffff;
  }
  .form-group .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    border-color: #E3E3E3;
    background: #ffffff;
  }
  .form-group .ck.ck-toolbar {
    border: 1px solid #E3E3E3;
    background-color: #ffffff;
  }
  .form-group .ck.ck-toolbar .ck.ck-toolbar__separator {
    background: transparent;
  }
  .filter-card .form-group label {
    position: absolute;
    background: white;
    font-size: 12px;
    left: 10px;
    top: -7px;
    padding: 0 7px;
    color: #858585;
    z-index: 10009;
  }
  .form-group p {
    font-size: 14px;
    margin: 5px 0 0;
  }
  .form-select:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #E3E3E3;
}

  .form-select {
    display: block;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #F5F7FA;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: none;
    border-radius: .375rem;
    transition: .5s;
}
  
.form-control {
    border: none;
    box-shadow: none;
    background-color: #F5F7FA;
    color: #0D233E;
    height: 46px;
    font-size: 14px;
    padding: 0 15px;
    border-radius: 8px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .form-control:focus {
    border: 1px solid #E3E3E3;
    box-shadow: none;
    outline: none;
  }
  
.form-grouphead {
    margin: 0 0 24px;
  }
  .form-grouphead h2 {
    font-size: 16px;
    font-weight: 700;
  }
  
  textarea.form-control {
    border: none;
    box-shadow: none;
    color: #0D233E;
    height: 135px;
    padding: 15px;
    border-radius: 8px;
    background: #F5F7FA;
    resize: vertical;
    transition: .7s;
  }
  
.form-control.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
  }
  
  .form-control.form-control-lg {
    height: calc(1.5em + 1rem + 2px);
  }
  
  button {
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    outline: none;
  }
  button:focus {
    outline: none;
  }
  
  input[type=file] {
    height: auto;
    min-height: calc(1.5em + 0.75rem + 2px);
  }
  
  input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  input[type=password] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
.btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 18px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .input-group .form-control {
    height: 40px;
  }
  .input-tags.form-control {
    display: block;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #E5E5E5;
    min-height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 10px;
  }
  textarea.form-control {
    height: 150px;
  }
  .login-input .form-control {
    background: #ffffff;
    border: 1px solid #E3E3E3;
  }
  .login-input .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color: #B7B7B7;
    opacity: 1;
  }
  .login-input .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #B7B7B7;
    opacity: 1;
  }
  .login-input .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #B7B7B7;
    opacity: 1;
  }
  .login-input .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #B7B7B7;
    opacity: 1;
  }
  .login-input .form-control:focus {
    border: 1px solid #164370;
    border-left: 5px solid #164370;
  }
  .form-control::-webkit-input-placeholder {
    color: #B7B7B7;
  }
  .form-control:-ms-input-placeholder {
    color: #B7B7B7;
  }
  .form-control::placeholder {
    color: #B7B7B7;
  }
  .new-comment .form-floating > .form-control {
    height: 50px;
  }
  .chat-cont-right .chat-footer .input-group .form-control {
    background-color: #f5f5f6;
    border: none;
    border-radius: 50px;
  }
  .chat-cont-right .chat-footer .input-group .form-control:focus {
    background-color: #f5f5f6;
    border: none;
    box-shadow: none;
  }
  .chat-search .input-group .form-control {
    border: 1px solid #F7F7FF;
    border-radius: 7px !important;
    background-color: #ffffff;
    padding-left: 36px;
    min-height: 35px;
    font-size: 13px;
    font-weight: 400;
  }
  .chat-search .input-group .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
  }
  .chat-search .input-group .input-group-prepend {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    color: #888888;
    display: flex;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 4;
  }
  .chat-search .form-control::placeholder {
    color: #888888;
  }
  #checkboxes .form-custom .form-control {
    padding-left: 14px;
    border: 1px solid rgba(231, 234, 252, 0.75);
    border-radius: 6px;
    padding-left: 14px;
    border: 1px solid rgba(231, 234, 252, 0.75);
    border-radius: 6px;
  }
  #checkboxes .date-picker .form-custom .form-control {
    padding-left: 10px;
  }
  .invoices-form .form-control {
    height: 50px;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
  }
  .invoice-inner-footer .form-control {
    position: absolute;
    color: #ffffff;
    background: transparent;
    border: 0;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 10px;
  }
  .inovices-month-info .form-control {
    height: 42px;
  }
  .menu-setcontent .form-control {
    height: 34px;
    background: #ffffff;
    padding: 10px;
  }
  .form-duration .form-control {
    padding: 10px 70px 10px 15px;
  }
  .group-image .form-control {
    padding-left: 30px;
  }
  .filter-card .form-control {
    height: 48px;
  }
  .login-body .form-control {
    height: 50px;
  }
  .login-body .form-control::placeholder {
    color: #bbb;
    opacity: 1;
  }
  textarea.form-control.content-textarea {
    height: 100px;
    min-height: auto;
  }
  .report-list #checkboxes .form-custom .form-control {
    padding-left: 30px;
  }
  .page-headers .search-bar .form-control {
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 9px 9px 9px 36px;
    background-color: #ffffff;
    color: #164370;
    font-weight: 400;
    font-size: 15px;
  }
  .page-headers .search-bar .form-control::placeholder {
    color: #164370;
  }    
  
.siderbar-toggle {
    position: relative;
    margin-top: 17px;
  
  }
  .siderbar-toggle .switch {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    
  }
  .siderbar-toggle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .siderbar-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B7B7B7;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    width: 41px;
    height: 21px;
  }
  .siderbar-toggle .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 2px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .siderbar-toggle input:checked + .slider {
    background-color: #164370;
  }
  .siderbar-toggle input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -5px;
  }
  .siderbar-toggle input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
  }
  .siderbar-toggle .slider.round {
    border-radius: 34px;
  }
  .siderbar-toggle .slider.round:before {
    border-radius: 50%;
  }
  .mini-sidebar .siderbar-toggle {
    opacity: 0;
    width: 1px;
  }
  .mini-sidebar .logo-small {
    display: block;
    min-width: 30px;
  }
  .mini-sidebar .sidebar-header {
    padding: 15px 0;
    justify-content: center;
  }
  .mini-sidebar .sidebar-logo .logo {
    display: none;
  }
  .mini-sidebar.expand-menu .siderbar-toggle {
    opacity: 1;
    width: auto;
  }
  .mini-sidebar .siderbar-toggle .slider {
    background: #ffffff;
  }
  .mini-sidebar .siderbar-toggle .slider:before {
    transform: translateX(26px);
    left: -5px;
  }
  .siderbar-toggle .switch {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    
  }
  .siderbar-toggle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.onoffswitch {
    margin-left: auto;
    position: relative;
    width: 73px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .onoffswitch-checkbox {
    display: none;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
  
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
  }
  
  .onoffswitch-inner {
    display: block;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -ms-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
  }
  .onoffswitch-inner:before {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 50%;
    background-color: #ffffff;
    color: #ffffff;
    content: "ON";
    padding-left: 14px;
  }
  .onoffswitch-inner:after {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 50%;
    content: "OFF";
    padding-right: 14px;
    background-color: #AAAAAA;
    color: #ffffff;
    text-align: right;
  }
  
  .onoffswitch-switch {
    background: #ffffff;
    border-radius: 20px;
    bottom: 0;
    display: block;
    height: 20px;
    margin: 5px;
    position: absolute;
    right: 43px;
    top: 0;
    -moz-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -ms-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    width: 20px;
  }
  .active-switch.toogle-primary input:checked + .sliders {
    background-color: #ffffff;
  }
  
.onoffswitch {
    margin-left: auto;
    position: relative;
    width: 73px;
    -ms-user-select: none;
  }
  
  .onoffswitch-checkbox {
    display: none;
  }
  
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
  }
  
.active-switch .switch {
    position: relative;
    display: inline-block;
    width: 41px;
    height: 21px;
    margin: 0;
  }
  .active-switch .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .active-switch .sliders {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .active-switch .sliders:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 2px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .active-switch input:checked + .sliders {
    background-color: #ffffff;
  }
  .active-switch input:checked + .sliders:before {
    left: -5px;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .active-switch input:focus + .sliders {
    box-shadow: 0 0 1px #ffffff;
  }
  .active-switch .sliders.round {
    border-radius: 34px;
  }
  .active-switch .sliders.round:before {
    border-radius: 50%;
  }
  .active-switch .onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
  }
  .active-switch .onoffswitch-inner:before {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 50%;
    background-color: #55ce63;
    color: #ffffff;
    content: "ON";
    padding-left: 14px;
  }
  .active-switch .onoffswitch-inner:after {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    width: 50%;
    content: "OFF";
    padding-right: 14px;
    background-color: #ccc;
    color: #ffffff;
    text-align: right;
  }
  .active-switch .onoffswitch-switch {
    background: #ffffff;
    border-radius: 20px;
    bottom: 0;
    display: block;
    height: 20px;
    margin: 5px;
    position: absolute;
    right: 43px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    width: 20px;
  }
  .active-switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  .active-switch .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
  .connectetappscontent .active-switch {
    margin-left: 90px;
  }


  .form-floating > .form-select {
    height: 50px;
  }
  .form-select{
    text-transform: capitalize !important;
  }
  .form-select{
    font-size: 15px;
    padding: .575rem 2.25rem .575rem .75rem;
  }

  
  .btn-path {
    text-align: right;
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
  
.settings-btn .upload, .avatar-title, .align-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    padding: 10px 18px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  @media (max-width: 767px) {
    .btn {
      font-size: 8px;
    }
  }
  .settings-btn .upload, .avatar-title, .align-center {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .btn-primary-outline {
    border: 2px solid #164370;
    color: #ffffff;
  }
  .btn-primary-outline:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #ffffff;
  }
  .btn-primary-outline:focus {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #ffffff;
  }
  
.btn-block {
    width: 100%;
  }
  
  .btn-link {
    text-decoration: none;
  }
  .btn-link:hover {
    text-decoration: underline;
  }
  
  .btn.focus {
    box-shadow: unset;
  }
  
  .btn:focus {
    box-shadow: unset;
  }
  
  .btn.btn-rounded {
    border-radius: 50px;
  }
  
.btn-primary {
    background-color: #164370;
    border-color: #164370;
    border-width: 2px;
    padding: 9px 20px;
  }
  .btn-primary:hover {
    background-color: #164370;
    border: 2px solid #164370;
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #164370;
  }
  .btn-primary:focus {
    background-color: #164370;
    border: 2px solid #164370;
  }
  .btn-primary:active {
    background-color: #164370;
    border: 2px solid #ffffff;
  }
  .btn-primary:active:focus {
    background: #164370;
    border: 1px solid #164370;
  }
  .btn-primary:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-primary:active:hover {
    background: #164370;
    border: 2px solid #164370;
  }
  .btn-primary:active:not(:disabled):not(.disabled) {
    background: #164370;
    border-color: #164370;
    color: #ffffff;
  }
  .btn-primary:disabled {
    background-color: #164370;
    border-color: #164370;
    color: #ffffff;
  }
  
  .btn-submit {
    background-color: #EE9229;
    border-color: #ffffff;
    border-width: 2px;
    color: #F1F1F1;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 28px;
    display: flex;
    align-items: center;
    border: 2px solid #EE9229;
  }
  .btn-submit:hover {
    background-color: #ffffff;
    border: 2px solid #EE9229;
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #EE9229;
  }
  .btn-submit:focus {
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  .btn-submit:active {
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  .btn-submit:active:focus {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .btn-submit:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-submit:active:hover {
    background: #164370;
    border: 2px solid #164370;
  }
  .btn-submit:active:not(:disabled):not(.disabled) {
    background: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
  }
  .btn-submit:disabled {
    background-color: #164370;
    border-color: #164370;
    color: #ffffff;
  }
  
  .btn-cancel {
    background-color: #164370;
    border-color: #164370;
    border-width: 2px;
    color: #F1F1F1;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 28px;
    display: flex;
    align-items: center;
  }
  .btn-cancel:hover {
    background-color: #164370;
    border: 2px solid #164370;
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #164370;
  }
  .btn-cancel:focus {
    background-color: #164370;
    border: 2px solid #164370;
  }
  .btn-cancel:active {
    background-color: #164370;
    border: 2px solid #164370;
  }
  .btn-cancel:active:focus {
    background: #164370;
    border: 1px solid #164370;
  }
  .btn-cancel:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-cancel:active:hover {
    background: #164370;
    border: 2px solid #164370;
  }
  .btn-cancel:active:not(:disabled):not(.disabled) {
    background: #164370;
    border-color: #164370;
    color: #ffffff;
  }
  .btn-cancel:disabled {
    background-color: #164370;
    border-color: #164370;
    color: #ffffff;
  }
  
  .btn-secondary {
    border-width: 2px;
  }
  
  .fs-14 {
    font-size: 14px !important;
  }
  
  .btn-primary.active {
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  .btn-primary.active:focus {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .btn-primary.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-primary.active:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .btn-primary.active:not(:disabled):not(.disabled) {
    background: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .open > .dropdown-toggle.btn-primary {
    background-color: #ffffff;
    border: 2px solid #ffffff;
  }
  .open > .dropdown-toggle.btn-primary:focus {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .open > .dropdown-toggle.btn-primary:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .open > .dropdown-toggle.btn-primary.focus {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  .open > .dropdown-toggle.btn-success {
    background-color: #27c24c;
    border: 1px solid #27c24c;
    color: #ffffff;
  }
  .open > .dropdown-toggle.btn-success:focus {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .open > .dropdown-toggle.btn-success:hover {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .open > .dropdown-toggle.btn-success.focus {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .open > .dropdown-toggle.btn-info {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .open > .dropdown-toggle.btn-info:focus {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .open > .dropdown-toggle.btn-info:hover {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .open > .dropdown-toggle.btn-info.focus {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .open > .dropdown-toggle.btn-warning {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .open > .dropdown-toggle.btn-warning:focus {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .open > .dropdown-toggle.btn-warning:hover {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .open > .dropdown-toggle.btn-warning.focus {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .open > .dropdown-toggle.btn-danger {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .open > .dropdown-toggle.btn-danger:focus {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .open > .dropdown-toggle.btn-danger:hover {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .open > .dropdown-toggle.btn-danger.focus {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  
  .btn-primary.active.focus {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .btn-primary.focus:active {
    background: #ffffff;
    border: 1px solid #ffffff;
  }
  
  .show > .btn-primary.dropdown-toggle {
    background: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
  }
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-success.dropdown-toggle {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #ffffff;
  }
  .show > .btn-success.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-info.dropdown-toggle {
    background-color: #009efb;
    border-color: #009efb;
    color: #ffffff;
  }
  .show > .btn-info.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-warning.dropdown-toggle {
    background-color: #ffbc34;
    border-color: #ffbc34;
    color: #ffffff;
  }
  .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-danger.dropdown-toggle {
    background-color: #f05050;
    border-color: #f05050;
    color: #ffffff;
  }
  .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-light.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: unset;
  }
  .show > .btn-outline-primary.dropdown-toggle {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: none;
  }
  .show > .btn-outline-success.dropdown-toggle {
    background-color: #27c24c;
    border-color: #27c24c;
  }
  .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: none;
  }
  .show > .btn-outline-info.dropdown-toggle {
    background-color: #009efb;
    border-color: #009efb;
  }
  .show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: none;
  }
  .show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #ffbc34;
    border-color: #ffbc34;
  }
  .show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: none;
  }
  .show > .btn-outline-danger.dropdown-toggle {
    background-color: #f05050;
    border-color: #f05050;
  }
  .show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: none;
  }
  
  .btn-primary.disabled {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .btn-secondary.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  
  .btn-secondary:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  
  .btn-success {
    background-color: #27c24c;
    border: 1px solid #27c24c;
    background: #27c24c;
    color: #fff !important;
  }
  .btn-success:hover {
    background-color: #27c24c;
    border: 1px solid #27c24c;
    color: #ffffff;
  }
  .btn-success:focus {
    background-color: #27c24c;
    border: 1px solid #27c24c;
    color: #ffffff;
  }
  .btn-success:active {
    background-color: #27c24c;
    border: 1px solid #27c24c;
    color: #ffffff;
  }
  .btn-success:active:focus {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .btn-success:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-success:active:hover {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .btn-success:active:not(:disabled):not(.disabled) {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #ffffff;
  }
  .btn-success:disabled {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #ffffff;
  }
  
  .btn-success.active {
    background-color: #27c24c;
    border: 1px solid #27c24c;
    color: #ffffff;
  }
  .btn-success.active:focus {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .btn-success.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-success.active:hover {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  .btn-success.active:not(:disabled):not(.disabled) {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #ffffff;
  }
  
  .btn-success.active.focus {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  
  .btn-success.focus:active {
    background-color: #27c24c;
    border: 1px solid #27c24c;
  }
  
  .btn-success.disabled {
    background-color: #27c24c;
    border-color: #27c24c;
    color: #ffffff;
  }
  
  .btn-info {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info:hover {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info:focus {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info:active {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info:active:focus {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-info:active:hover {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info:active:not(:disabled):not(.disabled) {
    background-color: #009efb;
    border-color: #009efb;
    color: #ffffff;
  }
  .btn-info:disabled {
    background-color: #009efb;
    border-color: #009efb;
    color: #ffffff;
  }
  
  .btn-info.active {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info.active:focus {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-info.active:hover {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  .btn-info.active:not(:disabled):not(.disabled) {
    background-color: #009efb;
    border-color: #009efb;
    color: #ffffff;
  }
  
  .btn-info.active.focus {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  
  .btn-info.focus:active {
    background-color: #009efb;
    border: 1px solid #009efb;
  }
  
  .btn-info.disabled {
    background-color: #009efb;
    border-color: #009efb;
    color: #ffffff;
  }
  
  .btn-warning {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning:hover {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning:focus {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning:active {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning:active:focus {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-warning:active:hover {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning:active:not(:disabled):not(.disabled) {
    background-color: #ffbc34;
    border-color: #ffbc34;
    color: #ffffff;
  }
  .btn-warning:disabled {
    background-color: #ffbc34;
    border-color: #ffbc34;
    color: #ffffff;
  }
  
  .btn-warning.active {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning.active:focus {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-warning.active:hover {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  .btn-warning.active:not(:disabled):not(.disabled) {
    background-color: #ffbc34;
    border-color: #ffbc34;
    color: #ffffff;
  }
  
  .btn-warning.active.focus {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  
  .btn-warning.focus:active {
    background-color: #ffbc34;
    border: 1px solid #ffbc34;
  }
  
  .btn-warning.disabled {
    background-color: #ffbc34;
    border-color: #ffbc34;
    color: #ffffff;
  }
  
  .btn-danger {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger:hover {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger:focus {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger:active {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger:active:focus {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-danger:active:hover {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger:active:not(:disabled):not(.disabled) {
    background-color: #f05050;
    border-color: #f05050;
    color: #ffffff;
  }
  .btn-danger:disabled {
    background-color: #f05050;
    border-color: #f05050;
    color: #ffffff;
  }
  
  .btn-danger.active {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger.active:focus {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  .btn-danger.active:hover {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  .btn-danger.active:not(:disabled):not(.disabled) {
    background-color: #f05050;
    border-color: #f05050;
    color: #ffffff;
  }
  
  .btn-danger.active.focus {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  
  .btn-danger.focus:active {
    background-color: #f05050;
    border: 1px solid #f05050;
  }
  
  .btn-danger.disabled {
    background-color: #f05050;
    border-color: #f05050;
    color: #ffffff;
  }
  
  .btn-light.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  
  .btn-light {
    border-color: #e6e6e6;
    color: #a6a6a6;
  }
  .btn-light:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  
  .btn-dark.active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  
  .btn-dark:active:focus:not(:disabled):not(.disabled) {
    box-shadow: unset;
  }
  
  .btn-outline-primary {
    color: #ffffff;
    border-color: #ffffff;
  }
  .btn-outline-primary:hover {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn-outline-primary:focus {
    box-shadow: none;
  }
  .btn-outline-primary:disabled {
    color: #ffffff;
    background-color: transparent;
  }
  .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active {
    background-color: #ffffff;
    border-color: #ffffff;
  }
  .btn-outline-primary:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-outline-primary.focus {
    box-shadow: none;
  }
  
  .btn-outline-primary.disabled {
    color: #ffffff;
    background-color: transparent;
  }
  
  .btn-outline-success {
    color: #27c24c;
    border-color: #27c24c;
  }
  .btn-outline-success:hover {
    background-color: #27c24c;
    border-color: #27c24c;
  }
  .btn-outline-success:focus {
    box-shadow: none;
  }
  .btn-outline-success:disabled {
    color: #27c24c;
    background-color: transparent;
  }
  .btn-outline-success:not(:disabled):not(.disabled):active {
    background-color: #27c24c;
    border-color: #27c24c;
  }
  .btn-outline-success:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-success:not(:disabled):not(.disabled).active {
    background-color: #27c24c;
    border-color: #27c24c;
  }
  .btn-outline-success:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-outline-success.focus {
    box-shadow: none;
  }
  
  .btn-outline-success.disabled {
    color: #27c24c;
    background-color: transparent;
  }
  
  .btn-outline-info {
    color: #009efb;
    border-color: #009efb;
  }
  .btn-outline-info:hover {
    color: #ffffff;
    background-color: #009efb;
    border-color: #009efb;
  }
  .btn-outline-info:focus {
    box-shadow: none;
  }
  .btn-outline-info:disabled {
    background-color: transparent;
    color: #009efb;
  }
  .btn-outline-info:not(:disabled):not(.disabled):active {
    background-color: #009efb;
    border-color: #009efb;
  }
  .btn-outline-info:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-info:not(:disabled):not(.disabled).active {
    background-color: #009efb;
    border-color: #009efb;
  }
  .btn-outline-info:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-outline-info.focus {
    box-shadow: none;
  }
  
  .btn-outline-info.disabled {
    background-color: transparent;
    color: #009efb;
  }
  
  .btn-outline-warning {
    color: #ffbc34;
    border-color: #ffbc34;
  }
  .btn-outline-warning:hover {
    background-color: #ffbc34;
    border-color: #ffbc34;
  }
  .btn-outline-warning:focus {
    box-shadow: none;
  }
  .btn-outline-warning:disabled {
    background-color: transparent;
    color: #ffbc34;
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active {
    background-color: #ffbc34;
    border-color: #ffbc34;
  }
  .btn-outline-warning:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-warning:not(:disabled):not(.disabled).active {
    background-color: #ffbc34;
    border-color: #ffbc34;
  }
  .btn-outline-warning:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-outline-warning.focus {
    box-shadow: none;
  }
  
  .btn-outline-warning.disabled {
    background-color: transparent;
    color: #ffbc34;
  }
  
  .btn-outline-danger {
    color: #f05050;
    border-color: #f05050;
  }
  .btn-outline-danger:hover {
    color: #ffffff;
    background-color: #f05050;
    border-color: #f05050;
  }
  .btn-outline-danger:focus {
    box-shadow: none;
  }
  .btn-outline-danger:disabled {
    background-color: transparent;
    color: #f05050;
  }
  .btn-outline-danger:not(:disabled):not(.disabled):active {
    background-color: #f05050;
    border-color: #f05050;
  }
  .btn-outline-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }
  .btn-outline-danger:not(:disabled):not(.disabled).active {
    background-color: #f05050;
    border-color: #f05050;
  }
  .btn-outline-danger:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
  }
  
  .btn-outline-danger.focus {
    box-shadow: none;
  }
  
  .btn-outline-danger.disabled {
    background-color: transparent;
    color: #f05050;
  }
  .btn-update:hover {
    background: transparent;
    color: #ffffff;
  }
  ul.custom-radiosbtn {
    display: flex;
  }
  ul.custom-radiosbtn li {
    margin-right: 20px;
  }
  
.settings-btn {
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    color: #0D233E;
    cursor: pointer;
    font-weight: 400;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    height: 50px;
  }
  .settings-btn .hide-input {
    position: relative;
    z-index: 1;
    cursor: pointer;
    min-height: auto;
    padding-left: 4px;
    padding-top: 0;
    line-height: 10px;
    width: 100%;
    opacity: 0;
  }
  .settings-btn .upload {
    position: absolute;
    z-index: 11;
    background: #ffffff;
    border-radius: 5px;
    right: 2px;
    top: 1.5px;
    width: 44px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
  }
  .upload-images .btn-icon {
    color: #f05050;
    font-size: 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: absolute;
    padding: 0;
    width: 15px;
    height: 15px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    right: 10px;
    top: 10px;
    justify-content: center;
    -webkit-justify-content: center;
    background: #ffffff;
    border-radius: 50%;
    font-size: 9px;
    border: 1px solid #f05050;
  }
  .upload-images .btn-icon:hover {
    background: #f05050;
    color: #ffffff;
  }
  .upload-images h6 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
  }
  .upload-images h5 {
    font-size: 10px;
    font-weight: 400;
  }
  .sidebar-menu li.menu-title a.btn {
    color: #ffffff;
    display: block;
    float: none;
    font-size: 15px;
    margin-bottom: 15px;
    padding: 10px 15px;
  }
  .form-groupbtn ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .form-groupbtn ul li {
    margin-right: 12px;
  }
  .form-groupbtn .btn {
    min-width: 104px;
    padding: 7px 15px;
    font-size: 16px;
  }
  .btn-update {
    border: 2px solid #ffffff;
    color: #ffffff;
    background: #ffffff;
  }
  .mobile_btn {
    display: none;
    float: left;
  }
  
@media (min-width: 992px) {
    .header.fixed-header #toggle_btn {
      align-items: center;
      color: #ffffff;
      display: inline-flex;
      float: left;
      font-size: 30px;
      height: 60px;
      margin-left: 15px;
      justify-content: center;
      padding: 0 20px;
    }
  }
  @media (max-width: 991px) {
    .header .mobile_btn {
      color: #0D233E;
      cursor: pointer;
      font-size: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      padding: 0 15px;
      position: absolute;
      text-align: center;
      top: 0;
      z-index: 10;
    }
  }
  .header.fixed-header .mobile_btn {
    color: #ffffff;
  }
  .user-menu.nav > li > a.mobile_btn {
    border: 0;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
  .mobile_btn {
    display: none;
    float: left;
  }
  .view-btn {
    margin-right: 15px;
  }
  @media (max-width: 992px) {
    .view-btn {
      display: none;
    }
  }

  .modal.contentmodal .modal-content .submit-section .btn {
    padding: 7px 12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    min-width: 150px;
    margin-top: 5px;
  }
  .modal-content .close-btn i {
    font-size: 20px;
    color: #f05050;
  }
  .action-language .btn {
    padding: 5px 10px;
    min-width: 90px;
  }
  
  .btn-grey {
    background: #AAAAAA;
  }
  .close-btn {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 18px;
  }
  .blog-comments .comment-btn {
    color: #000000;
    display: inline-block;
    font-size: 12px;
  }
  .blog-comments .comment-btn img {
    width: auto !important;
  }
  .btn-primaryline {
    border: 2px solid #ffffff;
    color: #ffffff;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
  .btn-primaryline:hover {
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #ffffff;
  }
  .profile-upload-btn {
    display: flex;
  }
  
.btn-upload {
    display: table;
    background: #164370;
    color: #F1F1F1;
    border-radius: 4px;
    padding: 9px 20px;
  }
  
  .btn-load {
    background: #EFF1F7;
    color: #4C82F7;
  }
  
  .btn-load-one {
    background: #EFF1F7;
    color: #4C82F7;
    width: 71px;
    height: 22px;
    border-radius: 10px;
    line-height: 20px;
    padding: 1px 15px;
  }
  
  .btn-remove {
    display: flex;
    align-items: center;
    border: 2px solid #FF4949;
    color: #FF4949;
    border-radius: 10px;
    width: 77px;
    height: 22px;
    padding: 6px 12px;
    padding: 3px 15px;
  }
  .btn-remove:hover {
    background: #FF4949;
    color: #ffffff;
  }
  
a.comment-btn:hover {
    color: #ffffff;
  }
  
  .save-btn {
    font-weight: 600;
    font-size: 16px;
    padding: 6px 75px;
  }
  
.table-action-btn {
    width: 79px;
    height: 27px;
  }
  
  .bank-details .modal-footer.blog-categories-btn {
    justify-content: start;
  }
  
  .blog-categories-btn {
    padding: 20px;
  }
  
  .modal-footer.blog-categories-btn > .bank-details-btn .btn {
    border-radius: 4px;
  }
  .back-btn {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 18px;
  }
  .btn-blog {
    padding: 10px 22px;
  }.modal.contentmodal .modal-content .submit-section .btn.btn-download {
    min-width: 200px;
  }

  .header.fixed-header .user-menu.nav > li.view-btn > a {
    background-color: #ffffff;
    color: #000000;
  }
  .header.fixed-header .user-menu.nav > li.view-btn > a:hover {
    background-color: #d19eb7;
    color: #ffffff;
  }
  .btn-linegrey {
    border: 1px solid #EDF1F1;
    padding: 3px 10px;
    font-size: 22px;
    margin-right: 5px;
  }
  .btn-linegrey:hover {
    background-color: #ffffff;
    color: #ffffff;
  }
  
.btn-viewall {
    border: 1px solid rgba(133, 134, 136, 0.16);
    color: #ffffff !important;
    padding: 7px;
    min-width: 100px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
  }
  .btn-viewall img {
    width: 14px;
  }
  .btn-viewall:hover {
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #fff !important;
  }
  .btn-viewall:hover img {
    filter: brightness(0) invert(1);
  }
  
  .btn-check:checked + .btn.btn-viewall {
    color: #4169E1 !important;
    background-color: #4169e1;
    box-shadow: none;
  }
  
  .btn.btn-viewall.active {
    color: #4169E1 !important;
    background-color: #4169e1;
    box-shadow: none;
  }
  .home-select .btn-action {
    border: 1px solid rgba(133, 134, 136, 0.16);
    padding: 9px 10px;
    color: #164370;
  }
  .swal2-actions .btn {
    margin: 0 5px;
  }
  .btn-login {
    background-color: #164370;
    width: 100%;
    color: #ffffff;
    padding: 8px;
    border: 2px solid #ffffff;
    transition: all 0.5s;
  }
  .btn-login:hover {
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #164370;
    border: 1px solid #164370;
  }
  .chat-cont-right .chat-footer .input-group .input-group-prepend .btn {
    background-color: transparent;
    border: none;
    color: #9f9f9f;
  }
  .chat-cont-right .chat-footer .input-group .input-group-append .btn {
    background-color: transparent;
    border: none;
    color: #9f9f9f;
  }
  .chat-cont-right .chat-footer .input-group .input-group-append .btn.msg-send-btn {
    background-color: #0de0fe;
    border-color: #0de0fe;
    border-radius: 50%;
    color: #ffffff;
    margin-left: 10px;
    min-width: 46px;
    font-size: 20px;
  }
  
.btn-file {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    background: #EDEEF7;
    border: 1px solid #EDEEF7;
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    position: absolute !important;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  .btn-file input {
    cursor: pointer;
    filter: alpha(opacity=0);
    font-size: 0;
    height: 100%;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  
.btn_send {
    width: 30px;
    height: 30px;
    border-radius: 50% !important;
    display: inline-flex;
    display: -webkit-inline-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 0;
    font-size: 12px;
  }
  
  .search_btn {
    background-color: transparent;
    border: 0;
    line-height: 0;
  }
  
.back-btn:hover {
    color: #000000;
  }
  
  .submit-btn {
    background-color: #000000;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    min-width: 200px;
    padding: 10px 20px;
  }
  .submit-btn:hover {
    background-color: #85084c;
  }
  
  .upload-size {
    width: 90px;
    height: 110px;
  }
  
  .settings-btns .btn-orange {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 26px;
    margin-right: 15px;
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
  }
  .settings-btns .btn-grey {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 26px;
    background: #ffffff;
    color: #242424;
    border: 1px solid #242424;
    border-radius: 4px;
  }
  .settings-btns .btn-grey:hover {
    background: #242424;
    border: 1px solid #242424;
    color: #ffffff;
  }
  
.report-btn {
    margin-bottom: 20px;
  }
  .report-btn .btn {
    font-weight: 600;
    color: #e60073;
    background: #ffffff;
    border: 2px solid #e60073;
    border-radius: 10px;
    width: 100%;
    padding: 11px 0;
  }
  
#checkboxes .btn-grey {
    background: rgba(231, 234, 252, 0.75);
    color: #1B2559;
    margin-top: 10px;
  }
  #checkboxes .btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0px;
  }
  #checkbox .btn {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0px;
  }
  .date-list .date-btn {
    background: #ffffff;
    color: #1B2559;
    border: 1px solid #E7EAFC;
    border-radius: 4px;
    padding: 10px 0 !important;
    width: 100%;
  }
  .date-list .date-btn:hover {
    background: #ffffff;
    color: #ffffff;
    border: 1px solid #E7EAFC;
  }
  
.action-language .btn-primary:hover {
    box-shadow: 0 0px 0 0 inset;
  }
  
  .invoices-settings-btn {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
  }
  .invoices-settings-btn .btn {
    font-weight: 600;
    color: #ffffff;
    padding: 12px 0;
    min-width: 167px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .invoices-settings-btn .btn .feather {
    margin-right: 6px;
  }
  .field-box .btn {
    min-width: 266px;
    border-radius: 4px;
    padding: 30px 0;
  }
  .btn-filters {
    border: 2px solid #EDF1F1;
    padding: 10px;
    border-radius: 10px;
  }

  
.bank-details-btn .btn {
    min-width: 160px;
    border-radius: 10px;
    padding: 10px 0;
    color: #ffffff;
  }
  .bank-details-btn .bank-save-btn {
    color: #e60073 !important;
    border-color: #e60073;
  }
  .bank-details-btn .bank-save-btn:hover {
    background: #e60073;
    border: 1px solid #e60073;
    color: #fff !important;
  }
  .bank-details-btn .bank-cancel-btn {
    background: #ffffff;
  }
  
  .invoice-setting-btn .cancel-btn {
    background: #ffffff;
  }
  .invoice-setting-btn .btn {
    min-width: 160px;
    padding: 10px 0;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .btn-primary-save-bg {
    background-color: #ffffff;
    color: #ffffff !important;
    border-color: #ffffff;
  }
  .btn-primary-save-bg:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #fff !important;
  }
  
.invoices-upload-btn {
    border: 1px solid #dee2e6;
    border-radius: 6px;
    color: #000000;
    cursor: pointer;
    font-weight: 400;
    padding: 15px 15px;
    position: relative;
    width: 100%;
    height: 50px;
  }
  .invoices-upload-btn .hide-input {
    position: relative;
    z-index: 1;
    cursor: pointer;
    min-height: auto;
    padding-left: 4px;
    padding-top: 0;
    line-height: 10px;
    width: 100%;
    opacity: 0;
  }
  .invoices-upload-btn .upload {
    position: absolute;
    background: #ffffff;
    border-radius: 4px;
    right: 6px;
    top: 8px;
    width: 136px;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  .connectetappscontent .btn-linedark {
    min-width: 150px;
    border: 1px solid #AAACB8;
    font-size: 14px;
    color: #666666;
  }
  .connectetappscontent .btn-linedark:hover {
    background: #666666;
    color: #ffffff;
  }
  
  .btn-change {
    background: #F1F8FF;
    color: #007BFF;
  }
  .btn-change:hover {
    background: #007bff;
    color: #ffffff;
  }
  
  .btn-removes {
    background: #FFF3F3;
    color: #FF4949;
  }
  .btn-removes:hover {
    background: #FF4949;
    color: #ffffff;
  }
  
.list-btn .btn-filters {
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    color: #164370;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-btn .btn-filters:hover {
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #ffffff;
    border-color: #ffffff;
  }
  .list-btn .btn-filters:hover i {
    color: #ffffff;
  }
  .list-btn ul {
    display: flex;
    align-items: center;
  }
  .list-btn ul li {
    margin: 0 5px;
  }
  .list-btn ul li:last-child {
    margin-right: 0;
  }
  @media (max-width: 991px) {
    .list-btn ul li {
      margin: 5px;
    }
  }
  @media (max-width: 575px) {
    .list-btn ul {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .list-btn .btn-filters.active {
    box-shadow: 0 50px 0 0 #ffffff inset;
    color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
  }
  .btn-history {
    color: #164370;
    background: #F7F7FF;
    font-size: 13px;
    padding: 4px 18px;
  }
  .btn-history:hover {
    box-shadow: 0 50px 0 0 #164370 inset;
    border: 1px solid;
    color: #ffffff;
  }
  
.field-btns {
    margin-top: 20px;
    text-align: right;
  }
  .field-btns .btn {
    font-weight: 500;
    font-size: 14px;
    padding: 9px 24px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin-left: auto;
  }
  .field-btns .btn-primary {
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }
  .list-btn .ul .li .btn-primary {
    background-color: #164370;
  }
  
.btn-accept {
    color: green;
    border: 1px solid #22C55E;
    border-radius: 4px;
    padding: 9px 26px;
    margin-left: 60px;
    padding: 7px 15px;
    margin-left: 60px;
    font-size: 12px;
  }
  .btn-accept:hover {
    background-color: #22C55E;
    color: #ffffff;
  }
  
  .btn-decline {
    color: #EF4444;
    border: 1px solid #EF4444;
    border-radius: 4px;
    padding: 7px 15px;
    margin: 8px;
    font-size: 12px;
  }
  .btn-decline:hover {
    background-color: #EF4444;
    color: #ffffff;
  }
  
  .btn-decline-accept {
    color: green;
    border: 1px solid #22C55E;
    border-radius: 4px;
    padding: 7px 15px;
    margin-left: 60px;
    font-size: 12px;
    margin: 8px 0 0;
    margin-left: 60px;
  }
  .btn-decline-accept:hover {
    background-color: #22C55E;
    color: #ffffff;
  }
  
  .page-settings .select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #ffffff;
  }
  .btn-decline:hover {
    background-color: #EF4444;
    color: #ffffff;
  }
  
  .btn-decline-accept {
    color: #EF4444;
    border: 1px solid #EF4444;
    border-radius: 4px;
    padding: 9px 26px;
    margin: 8px;
    margin-left: 60px;
  }
  .btn-decline-accept:hover {
    background-color: #EF4444;
  }

  
.filter-btn {
    box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.02);
    border: 0;
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
  }
  .filter-btn:hover {
    background-color: #ffffff;
    color: #ffffff;
  }
  .filter-btn:focus {
    background-color: #ffffff;
    color: #ffffff;
  }

  .btn-upload:hover {
    background: #2469ef;
    color: #ffffff;
  }  

  .white-or{
    background-color: #fff;
    border-color: #102048;
    border-width: 2px;
    color: #EC820B;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 28px;
    display: flex;
    align-items: center;
  }

/* 

  textarea.form-control {
    border: 1px solid #E3E3E3;
    box-shadow: none;
    color: #0D233E;
    height: 135px;
    padding: 15px;
    border-radius: 8px;
    background: #ffffff;
    resize: vertical;
  }
  textarea.form-control {
    height: 150px;
  }
  textarea.form-control.content-textarea {
    height: 100px;
    min-height: auto;
  } */
   .small-long{
    height: 40px;
    width: 200px;
    font-size: 13px;
    padding: 8px 3px;
    font-weight: 500;
    text-align: center;
    display: block;
   }
   .medium-long{
    height: 46px;
    width: 180px;
    font-size: 15px;
    padding: 10px 3px;
    /* font-weight: 500; */
    text-align: center;
    display: block;
   }